/* =================== página contactanos ================*/

.contenedor_principal-contactanos {
    @include sizes($width-estandar, $height-estandar);
    display: grid;
    gap: $espacioGridBase;
    margin-top: 2px;
    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(2, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: 100px 300px 300px;

    /* acomodar el grid */
    grid-template-areas:
        "titulo_contactanos titulo_contactanos"
        "contenedor_info_empresa contenedor_formulario"
        "contenedor_info_empresa contenedor_formulario";

    .titulo_contactanos {
        grid-area: titulo_contactanos;
        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
        font-size: $fontMaxima;
        text-align: $alineacionAlCentro;


        /* Texto tiulo descuentos */
        h2 {
            font-size: 70px;
            font-style: oblique;
            font-weight: bold;
            margin-top: 0px;

        }
    }


    .contenedor_datos_empresa {
        grid-area: contenedor_info_empresa;
        width: auto;
        list-style: none;
        align-items: center;
        text-align: $alineacionAlCentro;


        .item {
            margin-bottom: 65px;
            h3 {
                letter-spacing: 2px;
                margin-bottom: 20px;
                color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
                animation: animacion_datos_empresa 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            }
            span {
                font-size: 18px;
                animation: animacion_datos_empresa 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            
        }
        
        .iconos_contacto{
            a {
                padding-left: 15px;
                font-size: 24px;
            }
        }
        // Animacion del contenedor_datos_empresa
        @keyframes animacion_datos_empresa {
            0% {
              letter-spacing: -0.5em;
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
        }
        
    }


    /* Contenedor principal formulario */
    .contenedor_formulario {
        grid-area: contenedor_formulario;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}





