/* ============= pagina descuentos (Revisado)=========== */
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin atributosDisplayFlex($display, $marginTop, $wrap, $contenidoJustificado, $marginBottom) {
    display: $display;
    margin-top: $marginTop;
    flex-wrap: $wrap;
    justify-content: $contenidoJustificado;
    margin-bottom: $marginBottom;
}

.contenedor_principal-descuentos-fechas {
    @include sizes($width-estandar, $height-estandar);
    display: grid;
    gap: 10px;
    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    margin-top: 2px;
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(3, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: auto 295px 295px auto auto auto;

    /* acomodar el grid */
    grid-template-areas:
        "titulo_descuentos_fechas     titulo_descuentos_fechas     titulo_descuentos_fechas "
        "contenedor_carousel   contenedor_carousel   contenedor_secundario1"
        "contenedor_carousel   contenedor_carousel   contenedor_secundario2"
        "contenedor_descuentos contenedor_descuentos contenedor_descuentos "
        "titulo_fechas         titulo_fechas         titulo_fechas "
        "contenedor_fechas     contenedor_fechas     contenedor_fechas ";

    .titulo_descuentos_fechas {
        grid-area: titulo_descuentos_fechas;
        color: map-get($map: $paleta-colores, $key: 'colorSecundario');
        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        text-align: $alineacionAlCentro;
        font-size: $fontMaxima;

        /* Texto tiulo descuentos */
        h2 {
            font-size: 44px;
            font-style: oblique;
            font-weight: bold;
        }

    }

    /* Contenedor del titulo principal de descuentos */
    .contenedor_descuentos-carousel {
        grid-area: contenedor_carousel;

        .contenedor_imagen_carousel {
            img {
                @include sizes($width-estandar, 600px);
                object-fit: $acoplamiento-imagen;

            }
        }

    }

    .contenedor_descuentos-secundario1 {
        grid-area: contenedor_secundario1;
        background-image: url(../imagenes/imagenes_descuentos/descuentos_blusas2.jpg);
        background-size: 460px 300px;

        padding: 10px;
        text-align: $alineacionAlCentro;
        image-rendering: optimizeSpeed;

        .descuentos_secundario1-texto-boton {
            @include sizes(230px, 210px);
            background-color: transparent;
            margin: 0px auto;
            margin-top: 25px;

            .descuentos_secundario1-texto {
                h1 {
                    font-size: 40px;
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                }
            }

            .descuentos_secundario1-boton {
                margin-top: 25px;

                a {
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    background-color: map-get($map: $paleta-colores, $key: 'colorBotonDescuentos1');
                    text-decoration: none;
                    font-weight: bold;

                }

                .btn_descuentos {
                    border: 2px solid map-get($map: $paleta-colores, $key: 'colorBlanco');
                    padding: 10px 35px;
                    border-radius: 30px;


                }
            }
        }

    }

    .contenedor_descuentos-secundario2 {
        grid-area: contenedor_secundario2;
        background-image: url(../imagenes/imagenes_descuentos/descuentos_chamarras.png);
        background-size: 440px 300px;
        padding: 10px;
        text-align: $alineacionAlCentro;
        image-rendering: optimizeSpeed;


        .descuentos_secundario2-texto-boton {
            @include sizes(230px, 220px);
            background-color: transparent;
            margin: 0px auto;

            .descuentos_secundario2-texto {
                h1 {
                    font-size: 40px;
                    color: map-get($map: $paleta-colores, $key: 'colorNegro');
                    animation: animacion_descuento_secundario2 12s linear;
                }
            }

            .descuentos_secundario2-boton {
                margin-top: 25px;

                a {
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    background-color: map-get($map: $paleta-colores, $key: 'colorBotonDescuentos2');
                    text-decoration: none;
                    font-weight: bold;
                }

                .btn_descuentos {
                    border: 2px solid map-get($map: $paleta-colores, $key: 'colorBlanco');
                    padding: 10px 35px;
                    border-radius: 30px;
                }
            }
        }

        @keyframes animacion_descuento_secundario2 {
            0% {
                transform: translate(100px);
                opacity: 0;
            }

            100% {
                transform: translate(0px);
                opacity: 1;
            }
        }
    }

    .titulo_descuentos {
        grid-area: titulo_descuentos;
        color: map-get($map: $paleta-colores, $key: 'colorSecundario');
        text-align: $alineacionAlCentro;
        font-size: $fontMaxima;
        margin-top: 10px;

        /* Texto tiulo descuentos */
        h2 {
            font-size: 50px;
            font-style: oblique;
            font-weight: bold;
        }
    }

    /* contenedor y card de la seccion descuentos */
    .contenedor_cards_descuentos {
        grid-area: contenedor_descuentos;
        background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');
        @include atributosDisplayFlex(flex, 0px, wrap, start, 10px);

        .card_descuento {
            @include sizes(460px, 250px);
            margin-left: 12px;
            margin-top: 15px;

            .cobertura_img_card {
                @include sizes(460px, 250px);
                display: flex;
                background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
                justify-content: center;
                align-items: center;
                border-radius: 8px;

                border: 3px solid map-get($map: $paleta-colores, $key: 'colorBlanco');
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
                opacity: .8;
            }

            .color_variado1 {
                background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
            }

            .color_variado2 {
                background-color: map-get($map: $paleta-colores, $key: 'colorVariadoDescuento2');
            }

            .color_variado3 {
                background-color: map-get($map: $paleta-colores, $key: 'colorVariadoDescuento3');
            }

            .color_variado4 {
                background-color: map-get($map: $paleta-colores, $key: 'colorVariadoDescuento4');
            }

            .color_variado5 {
                background-color: map-get($map: $paleta-colores, $key: 'colorVariadoDescuento5');
            }

            .color_variado6 {
                background-color: map-get($map: $paleta-colores, $key: 'colorVariadoDescuento6');
            }

            .texto_card_descuento {

                @include sizes(335px, 200px);
                margin-left: 20px;
                justify-content: center;
                display: none;
            }
        }

        .card_descuento:hover .cobertura_img_card {
            display: none;
        }

        .card_descuento:hover .texto_card_descuento {
            /* position: absolute; */
            display: block;
        }
    }

    .titulo_fechas {
        grid-area: titulo_fechas;
        color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        // width: 800px;
        text-align: $alineacionAlCentro;
        background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
        font-size: $fontMaxima;

        h2 {
            font-size: 50px;
            font-style: oblique;
            font-weight: bold;
        }
    }

    .contenedor_cards_fechas {
        grid-area: contenedor_fechas;
        @include atributosDisplayFlex(flex, 10px, wrap, start, 10px);

        .card_fecha {
            @include sizes(460px, 180px);
            display: flex;
            flex-wrap: wrap;
            // background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');

            // espaciado externo
            margin-left: 12px;
            margin-top: 23px;
            padding-left: 15px;
            animation: card_fecha 1s infinite;
            transform: skew(20deg);
            animation-direction: alternate;


            .card_fecha-icono {

                @include sizes(130px, 130px);
                min-height: 130px;
                margin-top: 22px;
            }

            .card_fecha-texto {
                display: flex;
                flex-wrap: wrap;
                @include sizes(290px, 130px);
                background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
                min-height: 130px;
                margin-top: 22px;
                margin-left: 10px;
                margin-right: 5px;
                padding: 5px;

                h3 {
                    font-size: 25px;
                    color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                }
            }

        }

        @keyframes card_fecha {
            0% {
                transform: skewX(1deg);
            }

            100% {
                transform: skewX(-1deg);
            }
        }
    }


}