/* Footer (Revisado)*/


@mixin atributoSeccionFooter($color,$margen,$alineacionTexto) {
    color: $color;
    margin: $margen;
    text-align: $alineacionTexto;
}

.contenedor_footer {
    width: auto;
    margin-top: auto;
    display: grid;
    gap: 10px;
    box-shadow: 6px 1px 10px 6px map-get($map: $paleta-colores, $key: 'colorSecundario');
    margin-top: 10px;
    background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(4, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: 230px;
    grid-template-areas:
        "footer_seccion1_logo footer_seccion2_contacto footer_cliente footer_seccion4_redes";

    .footer_seccion1_logo {
        @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 17px, center);
        
    }

    .footer_seccion2_contacto {
        @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 17px, center);
        a {
            @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 10px, center);
            text-decoration: none;
        }
    }

    .footer_cliente {
        @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 17px, center);
    }

    .footer_seccion4_redes {
        @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 17px, center);
        
        a {
            @include atributoSeccionFooter(map-get($map: $paleta-colores, $key: 'colorPrincipal'), 10px, center);
            text-decoration: none;
        }
    }
}