/* ================ Página inicio: imagen principal y texto ================ */


@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

/* boton checar(se usa en la página carrito igual) */
.btn_checar {
    height: 40px;
    display: inline-block;
    text-decoration: none;
    background: map-get($map: $paleta-colores, $key: 'colorSecundario');
    padding: 9px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 8px 0 #EC2D53;
    transition: all 0.2s;
    animation: btn_checar infinite;
    animation-duration: 20s;
}

/* animacion del boton checar */
@keyframes btn_checar {
    from {
        background-color: red;
        box-shadow: 0 8px 0 red;
    }

    to {
        background-color: #0095ff;
        box-shadow: 0 8px 0 #0095ff;
    }
}

.btn_checar:hover {
    color: #fff;
}

.btn_checar:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 red;
}



/* contenedor principal */

.contenedor_principal {
    @include sizes($width-estandar, $height-estandar);
    display: grid;
    gap: 40px;
    // se ocupa en el landing page
    margin-top: -88px;

    background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(2, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: 950px 450px 100px 900px;

    /* acomodar el grid */
    grid-template-areas: 
                        "landing_page landing_page"
                        "principal_imagen  principal_texto"
                         "titulo_novedades  titulo_novedades"
                         "contenedor_novedades contenedor_novedades";
 
    //contenedor landing page
    .contenedor_principal_landing{
        grid-area: landing_page;
        position: relative;
        background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(../imagenes/fondo_landing_page.jpg);
        width: 100%;
        height: 920px;
        color: #fff;

        
        .contenedor_landing{
            position: absolute;
            margin-top: 110px;
            /* background-color: blue; */
            margin-left: 10px;
    
            .landing_page_contenedor_titulo{
                width: auto;
                height: auto;
                /* background-color: red; */
                .slide-left {
                    color: #fff;
                    font-size: 120px;
                    line-height: 140px;
                    font-weight: bold;
                    animation: slideleft 1s linear forwards;
                }            
            }
            
            .landing_page_contenedor_texto{
                /* background-color: green; */
                width: 100%;
                height: auto;
                p{
                    font-size: 20px;
                    color: white;
                    animation-delay: 1s;
                }
            }
    
            .landing_page_contenedor_botones{
                display: inline-block;
                
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .btn{
                    border: 2px solid #fff;
                    padding: 10px 35px;
                    border-radius: 30px;
                    margin-right: 15px;
                }
            }
        }
    }
    @keyframes slideleft{
        0%{
            transform: translate(100px);
            opacity: 0;
        }
        100%{
            transform: translate(0px);
            opacity: 1;
        }
    }

    /* contenedor de la imagen */
    .contenedor_principal-imagen {
        margin-left: 5px;
        grid-area: principal_imagen;

        .carousel-indicators{
            z-index: 1;
        }

        img {
            @include sizes($width-estandar, 450px);
            min-height: 400px;
            object-fit: $acoplamiento-imagen;
            transition-delay: 1s;
            transition: width 3s;
        }

        img:hover {
            width: 700px;
        }
    }

    /* contenedor donde esta el texto principal y el boton */
    .contenedor_principal-texto {
        grid-area: principal_texto;
        background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');

        h1 {
            background-image: linear-gradient(90deg, #000066 0%, #ff0066 100%);
            color: transparent;
            -webkit-background-clip: text;
            animation: index_texto_animado 3s infinite;
        }

        .contenido_principal-texto {
            font-size: 18px;
            @include sizes(92%, auto);
            // margin-right: 230px;
            margin-left: 20px;
        }

        .contenedor_boton_checar {
            margin-left: 20px;
        }
    }

    @keyframes index_texto_animado {
        50% {
            background-image: linear-gradient(90deg, red 0%, #000066 100%);
        }
        from {
            transform: translateY(5px);
          }
          to {
            transform: translateY(-5px);
          }
    }

    /* ================ Novedades ================ */

    /* Personalización del contenedor con texto animado(pensado para la sección inicio y Quienes somos) */
    .titulo_novedades {
        grid-area: titulo_novedades;
        justify-content: center;
        align-items: center;
        background-color: map-get($map: $paleta-colores, $key: 'colorTextoSecundario');
        display: flex;

        /* Texto antes de la animación */
        h2 {
            position: static;
            font-size: 44px;
            color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
            -webkit-text-stroke: 5px white;
            text-transform: uppercase;
        }

    }

    /* contenedor principal novedades */
    .contenedor_novedades {
        grid-area: contenedor_novedades;

        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        /* card del contenedor novedades */
        .card_novedades {
            display: flex;
            flex-wrap: wrap;
            @include sizes( 295px, 400px);
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
            background: map-get($map: $paleta-colores, $key: 'colorPrincipal');
            box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                       -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
            backdrop-filter: blur(12px);
            border: 1px solid rgba(255, 255, 255, 0.18);

            .card_novedades_imagen {
                @include sizes(280px, 310px);
                border-radius: 3px;
                overflow: hidden;
                padding-top: 13px;
                margin-left: 9px;
            
                img {
                    @include sizes(276px, 310px);
                    transition: all 2s ease-in-out;
                    object-fit: $acoplamiento-imagen;
                }
            
                img:hover {
                    transform: scale(1.2, 1.2);
                    cursor: pointer;
                }
            }

            .card_novedades_texto{
                width: 170px;
                h2 {
                    padding-left: 10px;
                    font-size: 16px;
                }
            }

            .card_novedades_boton{
            //Uso del extend
                a{
                    @extend .btn_checar;
                    animation: none;
                    background-color: map-get($map: $paleta-colores, $key: 'colorBotonAgregar');
                    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.1),
                            -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
                    // color: #00a037;
                    color: #EC2D53;
                    margin-top:  10px;
                    margin-left: 10px;
                    padding: 5px 20px;
                    height: 35px;
                }

                a:hover{
                    color: map-get($map: $paleta-colores, $key: 'colorBotonAgregar');
                    background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                }
            }

    

        }


    }

}





