//Revisado


@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* boton checar(se usa en la página carrito igual) */
.btn_checar {
    height: 40px;
    display: inline-block;
    text-decoration: none;
    background: map-get($map: $paleta-colores, $key: 'colorSecundario');
    padding: 9px 40px;
    border-radius: 5px;
    font-weight: $letrasNegrillas;
    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
    box-shadow: 0 8px 0;
    transition: all 0.2s;
    animation: btn_checar infinite;
    animation-duration: 20s;
}

.box_shadow-generico {
    background: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    box-shadow: 10px 10px 10px -1px map-get($map: $paleta-colores, $key: 'colorBoxShadow1'),
        -10px -10px 10px -1px map-get($map: $paleta-colores, $key: 'colorBoxShadow2');
}

/* animacion del boton checar */
@keyframes btn_checar {
    from {
        background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
        box-shadow: 0 8px 0 map-get($map: $paleta-colores, $key: 'colorSecundario');
    }

    to {
        background-color: map-get($map: $paleta-colores, $key: 'colorAzulClaro-Auxiliar');
        box-shadow: 0 8px 0 map-get($map: $paleta-colores, $key: 'colorAzulClaro-Auxiliar');
    }
}

.btn_checar:hover {
    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
}

.btn_checar:active {
    transform: translateY(4px);
    box-shadow: 0 4px 0 map-get($map: $paleta-colores, $key: 'colorSecundario');
}



/* contenedor principal */

.contenedor_principal {
    @include sizes($width-estandar, $height-estandar);
    display: grid;
    gap: 40px;
    // se ocupa en el landing page
    margin-top: -88px;
    background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(2, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: 950px 450px 100px 900px;

    /* acomodar el grid */
    grid-template-areas:
        "landing_page          landing_page"
        "principal_imagen      principal_texto"
        "titulo_novedades     titulo_novedades"
        "contenedor_novedades contenedor_novedades";

    //contenedor landing page
    .contenedor_principal_landing {
        grid-area: landing_page;
        position: relative;
        background-image: linear-gradient(map-get($map: $paleta-colores, $key: 'colorFondoLanding1'),
                map-get($map: $paleta-colores, $key: 'colorFondoLanding2')),
            url(../imagenes/fondo_landing_page.jpg);
        width: $width-estandar;
        @include sizes(auto, 920px);
        color: map-get($map: $paleta-colores, $key: 'colorBlanco');

        .contenedor_landing {
            position: absolute;
            margin-top: 110px;
            margin-left: 10px;

            .landing_page_contenedor_titulo {
                @include sizes(auto, auto);

                .slide-left {
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    font-size: 120px;
                    line-height: 140px;
                    font-weight: $letrasNegrillas;
                    animation: slideleft 1s linear forwards;
                }
            }

            .landing_page_contenedor_texto {
                /* background-color: green; */
                @include sizes(100%, auto);

                p {
                    font-size: 20px;
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    animation-delay: 1s;
                }
            }

            .landing_page_contenedor_botones {
                display: inline-block;

                a {
                    color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    text-decoration: none;
                }

                .btn {
                    border: 2px solid map-get($map: $paleta-colores, $key: 'colorBlanco');
                    padding: 10px 35px;
                    border-radius: 30px;
                    margin-right: 15px;
                }
            }
        }
    }

    @keyframes slideleft {
        0% {
            transform: translate(100px);
            opacity: 0;
        }

        100% {
            transform: translate(0px);
            opacity: 1;
        }
    }

    /* contenedor de la imagen */
    .contenedor_principal-imagen {
        margin-left: 5px;
        grid-area: principal_imagen;

        .carousel-indicators {
            z-index: 1;
        }

        img {
            @include sizes($width-estandar, 450px);
            min-height: 400px;
            object-fit: $acoplamiento-imagen;
            transition-delay: 1s;
            transition: width 3s;
        }

        img:hover {
            width: 700px;
        }
    }

    /* contenedor donde esta el texto principal y el boton */
    .contenedor_principal-texto {
        grid-area: principal_texto;
        background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');
        animation: animacion_contenedor_principal-texto 3s linear;


        h1 {
            background-image: linear-gradient(90deg, map-get($map: $paleta-colores, $key: 'colorLetrasAnimadas') 0%,
                    map-get($map: $paleta-colores, $key: 'colorSecundario') 100%);
            color: transparent;
            -webkit-background-clip: text;
            animation: index_texto_animado 3s infinite;
        }

        .contenido_principal-texto {
            font-size: 18px;
            @include sizes(92%, auto);
            margin-left: 20px;

        }

        .contenedor_boton_checar {
            margin-left: 20px;
        }
    }

    @keyframes animacion_contenedor_principal-texto {
        0% {
            transform: translate(100px);
            opacity: 0;
        }

        100% {
            transform: translate(0px);
            opacity: 1;
        }
    }

    @keyframes index_texto_animado {
        50% {
            background-image: linear-gradient(90deg, map-get($map: $paleta-colores, $key: 'colorSecundario') 0%,
                    map-get($map: $paleta-colores, $key: 'colorLetrasAnimadas') 0% 100%);
        }

        from {
            transform: translateY(5px);
        }

        to {
            transform: translateY(-5px);
        }
    }

    /* ================ Novedades ================ */

    /* Personalización del contenedor con texto animado(pensado para la sección inicio y Quienes somos) */
    .titulo_novedades {
        grid-area: titulo_novedades;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($map: $paleta-colores, $key: 'colorTextoSecundario');


        /* Texto antes de la animación */
        h2 {
            position: static;
            font-size: 44px;
            color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
            -webkit-text-stroke: 5px map-get($map: $paleta-colores, $key: 'colorBlanco');
            text-transform: uppercase;
        }

    }

    /* contenedor principal novedades */
    .contenedor_novedades {
        grid-area: contenedor_novedades;
        display: flex;
        flex-wrap: wrap;
        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');

        justify-content: center;

        /* card del contenedor novedades */
        .card_novedades {
            display: flex;
            flex-wrap: wrap;
            @include sizes(295px, 400px);
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 30px;
            @extend .box_shadow-generico;
            backdrop-filter: blur(12px);
            border: 1px solid rgba(255, 255, 255, 0.18);

            .card_novedades_imagen {
                @include sizes(280px, 310px);
                border-radius: 3px;
                overflow: hidden;
                padding-top: 13px;
                margin-left: 9px;

                img {
                    @include sizes(276px, 310px);
                    transition: all 2s ease-in-out;
                    object-fit: $acoplamiento-imagen;
                }

                img:hover {
                    transform: scale(1.2, 1.2);
                    cursor: pointer;
                }
            }

            .card_novedades-texto-boton {
                display: flex;
                @include sizes(280px, auto);

                .card_novedades_texto {
                    width: 170px;

                    h2 {
                        padding-left: 10px;
                        font-size: 16px;
                    }
                }

                .card_novedades_boton {
                    a {
                        @extend .btn_checar;
                        animation: none;
                        @extend .box_shadow-generico;
                        color: map-get($map: $paleta-colores, $key: 'colorLetrasBoton');
                        margin-top: 10px;
                        margin-left: 10px;
                        padding: 5px 20px;
                        height: 35px;
                    }

                    a:hover {
                        color: map-get($map: $paleta-colores, $key: 'colorBotonAgregar');
                        background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                    }
                }

            }

        }


    }

}