@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@mixin tamWidthMinimosMaximos($minWidth,$maxWidth){
    min-width: $minWidth;
    max-width: $maxWidth;
}
@mixin contenedorDisplayGrid($display,$minWidth,$overflow){
    display: $display;
    min-width: $minWidth;
    overflow: $overflow;
}

/* navbar responsive*/
@media screen and (max-width: 600px) {

    header {
        .navbar {
            display: none;
        }
        .contenedor_principal-navbar_sidebar{
            display: block;
            // .sidebar{
            //     display: none;
            // }
        
        }

    }

}



/* Smartphone modo vertical y horizontal para todas las páginas */
@media screen and (max-width: 600px) and (min-width: 320px) {

    
    /* con aaltura aquto se acopla a la redimensacion */
    .contenedor_principal {
        display: grid;
        min-width: 310px;
        max-width: 600px;
        overflow: hidden;
        grid-template-columns: 1fr;
        background-color: blue($color: #000000);
        grid-template-rows: 600px auto auto 100px auto;
        grid-template-areas:
            "landing_page"
            "principal_imagen"
            "principal_texto"
            "titulo_novedades"
            "contenedor_novedades";
        gap: $espacioGridBase;


        // contenedor de landing page
        .contenedor_principal_landing{
            width: auto;
            min-width: 320px;
            max-width: 600px;
            height: auto;
            .contenedor_landing{  
                width: auto;
                min-width: 280px;
                // background-color: yellow;
                margin-right: 12px;
                // height: 280px;
                height: auto;
                .landing_page_contenedor_titulo{
                    width: auto;
                    min-width: 280px;
                    height: auto;
                    background-color: red;

                    .slide-left {
                        color: white;
                        font-size: 92px;
                        line-height: 140px;
                        font-weight: bold;
                        min-width: 260px;
                        width: auto;
                    }   
                }
                .landing_page_contenedor_texto{
                    /* background-color: green; */
                    width: 100%;
                    height: auto;
                    p{
                        color: white;
                    }
                }
        
                .landing_page_contenedor_botones{
                    display: inline-block;
                    
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                    .btn{
                        border: 2px solid #fff;
                        padding: 10px 35px;
                        border-radius: 30px;
                        margin-right: 15px;
                    }
                }
            

            }
        }

        /* contenedor de imagen principal */
        .contenedor_principal-imagen {
            overflow-x: hidden;
            width: auto;
            max-width: 590px;
            min-width: 310px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 0px;



            /* contenedor de imagen principal */
            img {
                width: $width-estandar;
                @include tamWidthMinimosMaximos(310px , 590px);
                min-height: 200px;
            }

        }

        .contenedor_principal-texto {
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 0px;
            /* contenedor de texto principal */
            h1{
                width: 100%;
                font-size: 24px;
            }
            .contenido_principal-texto {
                width: auto;
                min-width: 310px;
                font-size: 15px;
                margin-top: 0px;
                margin-left: 0px;
                padding-right: 5px;
                padding-left: 5px;
                text-align: start;

            }

            /* contenedor del boton checar */
            .contenedor_boton_checar {
                width: 100%;
                margin-bottom: 30px;
                margin-left: 0px;
            }
        }

        .titulo_novedades{
            width: auto;
            min-width: 310px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .contenedor_novedades {
            width: auto;
            justify-content: start;
            @include tamWidthMinimosMaximos(320px , 590px);
            padding-left: 5px;
            padding-right: 5px;

            .card_novedades {
                width: auto;
                height: auto;
                min-width: 310px;
                max-width: 590px;
                // background-color: #0095ff;
                background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
                margin-left: 0px;
                margin-right: 0px;


                .card_novedades_imagen{
                    min-width: 300px;
                    width: 100%;
                    height: auto;
                    // espacio interno
                    margin-left: 5px;
                    margin-right: 5px;    
                    margin-top: 1px;
                    img{
                        width: 100%;
                        min-width: 300px;
                        height: 350px;
                        object-fit: $acoplamiento-imagen;
                    }
                }

                .card_novedades_texto{
                    width: auto;
                    min-width: 187px;
                    max-width: 200px;
                    margin-left: 5px;
                    h2{
                        padding-left: 0px;
                        min-width: 187px;
                        max-width: 200px;
                    }
                }
                .card_novedades-boton{
                    width: 100%;
                    margin-left: auto;
                    right: auto;
                }

            }

        }

    }

    /* ==== Contenedor principal de filtro categorias y productos */

    .contenedor_principal-filtroCategorias-listaProductos {
        display: grid;
        min-width: 320px;
        overflow: hidden;
        gap: $espacioGridBase;
        /* Indicar cuantas columnas tendra */
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        grid-template-areas:
            "titulo_categoria"
            "filtro_categorias"
            "contenedor_cards_productos";

        .titulo_categoria {
            width: auto;
            min-width: 310px;

            h2 {
                width: 100%;
                font-size: 40px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .contenedor_filtroCategorias {
            min-width: 300px;
            width: 94%;
            height: auto;
            margin-right: 0px;
            margin-left: 6px;
            padding-bottom: 10px;
            .list-group{
                min-width: auto;
                margin-right: 10px;
                
            }
        }


        .contenedor_listaProductos {
            width: auto;
            @include tamWidthMinimosMaximos(320px , 590px);

            .card_producto {
                min-width: 310px;
                margin-right: 12px;
                height: auto;
                .card_producto_imagen {
                    min-width: 305px;
                    height: 350px;

                    img {
                        min-width: 295px;
                        height: 350px;

                    }
                }

                /* contenedor de boton y texto del card */
                .card_producto-texto_boton {

                    min-width: 295px;

                    h2 {
                        width: auto;
                        margin-left: 5px;

                    }
                    a{
                        margin-left: 100px;
                    }
                }
            }
        }
    }


    /* Footer */
    .contenedor_footer {
        @include sizes(auto, auto);
        min-width: 320px;
        margin-top: 20px;
        background-color: red;
        /* Indicar cuantas columnas tendra */
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "footer_seccion1_logo"
            "footer_seccion2_contacto"
            "footer_cliente"
            "footer_seccion4_redes";
    }


    /* === Pagina descuentos ==== */
    .contenedor_principal-descuentos-fechas {
        display: grid;
        min-width: 320px;
        max-width: 599px;
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "titulo_descuentos"
            "descuento_carousel"
            "contenedor_descuentos-secundario1"
            "contenedor_descuentos-secundario2"
            "card_img_descuento"
            "texto_descuentos"
            "contenedor_descuentos"
            "titulo_fechas"
            "contenedor_fechas";
        gap: $espacioGridBase;

        /* Contenedor del titulo principal de descuentos */

        .titulo_descuentos_fechas {
            grid-area: titulo_descuentos;
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);

            h2 {
                width: 99%;
                font-size: 40px
            }
        }
        .contenedor_descuentos-carousel{
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);
            grid-area: descuentos_carousel;
            display: none;
        }
        .contenedor_descuentos-secundario1{
            grid-area: contenedor_descuentos-secundario1;
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);

        }
        .contenedor_descuentos-secundario2{
           grid-area: contenedor_descuentos-secundario2;
           width: auto;
           @include tamWidthMinimosMaximos(310px , 590px);
        }

        /* contenedor y card de la seccion descuentos */
        .contenedor_cards_descuentos {
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);

            .card_descuento {
                width: 100%;
                min-width: 310px;
                margin-left: 0px;
                .cobertura_img_card {
                    width: $width-estandar;
                    min-width: 310px;
                }

                .texto_card_descuento {
                    width: 100%;
                    min-width: 310px;
                    margin-right: 24px;

                    p {
                        margin-right: 34px;
                    }
                }
            }
        }

        .titulo_fechas {
            width: auto;
            min-width: 310px;

            h2 {
                font-size: 40px;
            }
        }

        .contenedor_cards_fechas {
            width: auto;
            min-width: 310px;
            background-color: #0095ff;


            .card_fecha {
                margin-left: 0px;
                background-color: beige;
                height: auto;
                border-radius: 20px;
                min-width: 300px;
                padding-bottom: 10px;

                .card_fecha-icono{
                    padding-top: 5px;
                    width: 90px;
                    height: 60px;
                    background-color: red;
                    img{
                        width: 90px;
                        height: auto;
                    }
                }
                .card_fecha-texto{
                    min-height:  100px;
                    min-width:   180px;
                    margin-left: 0px;
                    width: calc(100% - 110px);
                    height: auto;
                    padding-top: 20px;
                    background-color: #0095ff;
                    
                    h3{
                        font-size: 20px;
                        color: black;
                        font-weight: 100;
                
                    }
                }
            }

        }

    }



    /* pagina Quienes somos */
    .contenedor_principal_quienes-somos {
        display: grid;
        height: auto;
        min-width: 320px;
        max-width: 599px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        background-color: azure;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);

        /* acomodar el grid */
        grid-template-areas:
            "texto_conocenos"
            "contenedor_servicios"
            "titulo_amigos"
            "contenedor_marcas";
        gap: $espacioGridBase;

        .conocenos_textos {
            box-shadow: 4px 2px 4px 3px rgba(0, 0, 0, 0.2);
            justify-content: center;
            background-color: white;
            margin-left: 0px;
            font-size: 12px;
            width: auto;
            min-width: 310px;
            text-align: center;
        }
        .contenedor_servicios{
            grid-area: contenedor_servicios;
            width: auto;
            height: auto;
            min-width: 310px;
            margin-left: 0px;

            .titulo_servicios{
                height: auto;
                
                min-width: 310px;
                padding-top: 0px;
                h1{
                    font-size: 35px;
                }
            }
            .card_servicio{
                min-width: 310px;

                .card_servicio-img{
                    width: 60px;
                    height: auto;
                    padding-left: 0px;
                    margin-right: 8px;
                    img{
                        width: 60px;
                        
                    }
                }

                .card_servicio-texto{
                    background-color: #0095ff;
                    width: calc(100% - 70px);
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }

        }

        .titulo_amigos {
            background-color: red;
            min-width: 310px;
            height: auto;
            padding-bottom: 0px;
            h2{
                font-size: 30px;
            }

        }
        .contenedor-marcas{
            height: auto;
            min-width: 310px;
            .card_instagram_marca{
                background-color: yellow;
                margin-left:  0px;
                margin-right: 0px;
            }
        }

    }



    /* pagina contactanos */
    .contenedor_principal-contactanos {
        display: grid;
        min-width: 320px;
        max-width: 599px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        /* acomodar el grid */
        grid-template-areas:
            "titulo_contactanos "
            "contenedor_info_empresa "
            "contenedor_formulario";

        .titulo_contactanos {
            width: auto;
            min-width: 310px;
            margin-top: 20px;

            h2 {
                width: 100%;
                font-size: 45px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .contenedor_datos_empresa {
            width: auto;
            min-width: 310px;
            // background-color: #0095ff;
            justify-content: center;
            .item{
                justify-content: center;
            }
            .iconos_contacto{
                justify-content: start;
            }

        }

        /* Contenedor principal formulario */
        .contenedor_formulario {
            width: auto;
            min-width: 310px;
            background-color: #0095ff;

            form {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                min-width: 310px;
            }

            button {
                margin-left: 3px;
            }

        }

    }


}
/* Smartphone pagina carrito */
@media screen and (max-width: 530px) and (min-width: 300px) {

    /* con aaltura aquto se acopla a la redimensacion */
    .carrito-contenedor_principal {
        display: grid;
        height: auto;
        min-width: 320px;
        overflow-y: hidden;
        overflow-x: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "texto_carrito"
            "contenedor_productos"
            "contenedor_precio_total";
        gap: $espacioGridBase;

        .carrito-texto_principal {
            grid-area: texto_carrito;
            height: 70px;
            background-color: red;
            color: white;
            text-align: center;
            margin-top: 1px;
            
            h1 {
                font-size: 40px;
                font-style: oblique;
                font-weight: bold;
            }
        }
        .carrito-contenedor_productos {
            grid-area: contenedor_productos;
            .card_producto {
                display: grid;
                width: 97%;
                min-width: 310px;
                overflow-y: hidden;
                overflow-x: hidden;
        
                gap: $espacioGridBase;
                margin-top: 10px;
                background-color: white;
                /* Indicar cuantas columnas tendra */
                grid-template-columns: 1fr;
                /* Indicar cuantas filas tendra */
                grid-template-rows: auto auto;
        
                /* acomodar el grid */
                grid-template-areas:
                    "contenedor_imagen_producto"
                    "contenedor_texto_productos";
                /*fila 2*/
                .carrito_imagen_producto {
                    grid-area: contenedor_imagen_producto;
                    width: $width-estandar;
                    min-width: 310px;
                    background-color: black;
                    
                    img {
                        width: 100%;
                        min-width: 310px;
                    }
                }
        
                .texto-producto {
                    grid-area: contenedor_texto_productos;
                    width: $width-estandar;
                    min-width: 310px;
                    margin-top: 0px;

                    .cantidad_producto{
                        .eliminar_producto {
                            margin-left: 0px;
                            color: white;
                            cursor: pointer;
                            border-radius: 5px;
                            text-decoration: none;
                    
                        }
                    }
                }
            }
        }


        /* contenedor principal del card pagar */
        .carrito-contenedor_precios {
            width: auto;
            margin-left: 0px;
            border: 1px solid red;
            border-radius: 5px;
            margin: 10px;

        }

    }

}


/* páginas index,descuentos,Quienes somos: tablet vertical,telefono horizontal y laptop pequeñas */
@media screen and (max-width: 890px) and (min-width: 601px) {

    .contenedor_principal {
        display: grid;
        height: auto;
        min-width: 400px;
        margin-top: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 100px auto auto;
        grid-template-areas:
            "principal_imagen principal_texto principal_texto"
            "titulo_novedades titulo_novedades titulo_novedades"
            "contenedor_novedades contenedor_novedades contenedor_novedades";
        gap: $espacioGridBase;
    }

    /* contenedor de imagen principal */
    .contenedor_principal-imagen {
        margin-bottom: 0px;
        grid-area: principal_imagen;
        background-color: steelblue;
        min-height: 400px;
        
        img {
            height: 100%;
            min-height: 400px;
            object-fit: cover;
        }
    }

    .contenedor_principal-texto{
        h1 {
            margin-top: 80px;
        }
    }

    .contenido_principal-texto {
        font-size: 18px;
        height: auto;
        width: 92%;
    }

    /* pagina descuentos */
    .contenedor_principal-descuentos-fechas {
        margin-top: 150px;
    }

    /* paginas quienes somos */
    .contenedor_principal_quienes-somos {
        margin-top: 170px;
    }

    /* pagina contactanos */
    .contenedor_principal-contactanos {
        display: grid;
        min-width: 300px;
        overflow: hidden;
        margin-top: 140px;
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        .contenedor_datos_empresa {
            width: 100%;
            min-width: 290px;
        }
    
        /* Contenedor principal formulario */
        .contenedor_formulario {
            width: 90%;
            min-width: 320px;
            
            form {
                display: flex;
                flex-wrap: wrap;
                width: 97%;
                margin-right: 30px;
                min-width: 300px;
            }
        
            button {
                margin-left: 3px;
            }
        }
    }


    /* pagina contactanos */
    .titulo_contactanos {
        margin-top: 10px;
        width: 100%;
        min-width: 320px;
        padding-top: 10px;
        
        h2 {
            width: 100%;
            font-size: 45px;
            text-align: center;
            margin-bottom: 20px;
        }
    }


    /* ==== Contenedor principal de filtro categorias y productos */
    .titulo_categoria {
        margin-top: 50px;
    }

    .contenedor_principal-filtroCategorias-listaProductos {
        width:  $width-estandar;
        height: $height-estandar;
        margin-top: 100px;
        gap: $espacioGridBase;
        background-color: map-get($map: $paleta-colores, $key: 'colorFondoBlanco');
        /* Indicar cuantas columnas tendra */
        grid-template-columns: auto;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        grid-template-areas:
            "titulo_categoria"
            "filtro_categorias"
            "contenedor_cards_productos";

    }

}

/* index: laptops */
@media screen and (max-width: 1400px) and (min-width: 891px) {

    .contenedor_principal {
        display: grid;
        height: auto;
        min-width: 400px;
        margin-top: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 100px auto auto;
        grid-template-areas:
            "principal_imagen principal_texto principal_texto"
            "titulo_novedades titulo_novedades titulo_novedades"
            "contenedor_novedades contenedor_novedades contenedor_novedades";
        gap: $espacioGridBase;
        
        /* contenedor de imagen principal */
        .contenedor_principal-imagen {
            margin-bottom: 0px;
            grid-area: principal_imagen;
            background-color: steelblue;
        }

        .contenido_principal-texto {
            margin-top: 37px;
        }
    }

}

/* pagina carrito: Tablets */
@media screen and (max-width: 973px) and (min-width: 501px) {

    /* con aaltura aquto se acopla a la redimensacion */
    .carrito-contenedor_principal {
        display: grid;
        height: auto;
        min-width: 480px;
        margin-top: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "texto_carrito"
            "contenedor_productos"
            "contenedor_precio_total";
        gap: $espacioGridBase;
    }

    .card_producto {
        margin-right: 20px;
    }

    .carrito-texto_principal {
        margin-top: 60px;
        font-size: 10px;
    }

    /* contenedor de imagen principal */
    .contenedor_principal-imagen {
        margin-top: 90px;
        grid-area: principal_imagen;
        background-color: steelblue;
    }

    /* contenedor principal del card pagar */
    .carrito-contenedor_precios {
        width: auto;
        margin-left: 0px;
        border: 1px solid red;
        border-radius: 5px;
        margin-right: 20px;

    }

    .eliminar_producto {
        text-align: end;
    }

    /* Footer */
    .contenedor_footer {
        display: grid;
        width: 100%;
        height: auto;
        margin-top: 10px;
        /* Indicar cuantas columnas tendra */
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "footer_seccion1_logo"
            "footer_seccion2_contacto"
            "footer_cliente"
            "footer_seccion4_redes";
    }

    /* pagina quienes somos */
    .contenedor_amigoEspecial_instagram {
        margin-right: 20px;
    }

}

/* paginas Carrito, quienes somos: laptops pequeñas */
@media screen and (max-width: 1200px) and (min-width: 974px) {

    .card_producto {
        margin-right: 20px;
    }

    /* contenedor principal del card pagar */
    .carrito-contenedor_precios {
        width: auto;
        margin-left: 0px;
        border: 1px solid red;
        border-radius: 5px;
        margin-right: 22px;

    }

    .eliminar_producto {
        text-align: end;
    }

    /* pagina contactanos */
    .contenedor_amigoEspecial_instagram {
        margin-right: 20px;
    }
}