
/* navbar responsive*/
@media screen and (max-width: 600px) {

    header {
        .navbar {
            display: none;
        }
        .contenedor_principal-navbar_sidebar{
            display: block;
        
        }
    }
}

/* Smartphone modo vertical y horizontal para todas las páginas */
@media screen and (max-width: 600px) and (min-width: 320px) {

    /* =========== Página index ===========*/
    .contenedor_principal {

        @include contenedorDisplayGrid(grid, 320px, 600px, hidden);
        grid-template-columns: 1fr;
        grid-template-rows: 600px auto auto 100px auto;
        grid-template-areas:
            "landing_page"
            "principal_imagen"
            "principal_texto"
            "titulo_novedades"
            "contenedor_novedades";
        gap: $espacioGridBase;

        // contenedor de landing page
        .contenedor_principal_landing{
            @include sizes(auto, auto);
            @include tamWidthMinimosMaximos(320px, 600px);

            .contenedor_landing{  
                @include sizes(auto, auto);
                min-width: 280px;
                margin-right: 12px;

                .landing_page_contenedor_titulo{
                    @include sizes(auto, auto);
                    min-width: 280px;
                    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');

                    .slide-left {
                        width: auto;
                        color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                        font-size: 92px;
                        line-height: 140px;
                        font-weight: $letrasNegrillas;
                        min-width: 260px;
                        text-align: center;
                    }   
                }

                .landing_page_contenedor_texto{
                    @include sizes(100%, auto);
                    p{
                        color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    }
                }
        
                .landing_page_contenedor_botones{
                    display: inline-block;
                    
                    a{
                        color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                        text-decoration: none;
                    }
                    .btn{
                        border: 2px solid map-get($map: $paleta-colores, $key: 'colorBlanco');
                        padding: 10px 35px;
                        border-radius: 30px;
                        margin-right: 15px;
                    }
                }
            
            }
        }

        /* contenedor de imagen principal */
        .contenedor_principal-imagen {
            width: auto;
            // Tamaño de width 
            @include tamWidthMinimosMaximos(310px, 590px);
            overflow: hidden;
            //espaciado interno
            padding-left: 5px;
            padding-right: 5px;
            //espaciado externo
            margin-left: 0px;


            /* contenedor de imagen principal */
            img {
                width: $width-estandar;
                @include tamWidthMinimosMaximos(310px , 590px);
                min-height: 200px;
                // border: 0px;
            }

        }
        /* contenedor de texto principal */
        .contenedor_principal-texto {
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);
            //Espaciado interno
            padding-left: 5px;
            padding-right: 5px;
            //espaciado externo
            margin-top: 0px;

            h1{
                width: $width-estandar;
                font-size: 24px;
            }
            .contenido_principal-texto {
                width: auto;
                min-width: 310px;
                font-size: 15px;
                text-align: start;
                // Espaciado externo
                margin-top: 0px;
                margin-left: 0px;
                // Espaciado interno
                padding-right: 5px;
                padding-left: 5px;

            }

            /* contenedor del boton checar */
            .contenedor_boton_checar {
                width: $width-estandar;
                margin-bottom: 30px;
                margin-left: 0px;
            }
        }

        .titulo_novedades{
            width: auto;
            min-width: 310px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .contenedor_novedades {
            width: auto;
            justify-content: start;
            @include tamWidthMinimosMaximos(320px , 590px);
            // Espaciado interno
            padding-left: 5px;
            padding-right: 5px;

            .card_novedades {
                @include sizes(auto, auto);
                @include tamWidthMinimosMaximos(310px, 590);
                background-color: map-get($map: $paleta-colores, $key: 'segundoColorPrincipal');
                // Espaciado Externo
                margin-left: 0px;
                margin-right: 0px;

                .card_novedades_imagen{
                    @include sizes(100%, auto);
                    min-width: 300px;
                    // espacio interno
                    margin-left: 5px;
                    margin-right: 5px;    
                    margin-top: 1px;

                    img{
                        @include sizes(100%, 350px);
                        min-width: 300px;
                        object-fit: $acoplamiento-imagen;
                    }
                }

                .card_novedades-texto-boton{
                    @include sizes(100%, auto);
                    min-width: 300px;
                    // espacio externo
                    margin-left: 5px;
                    margin-right: 5px;    
                    .card_novedades_texto{
                        width: $width-estandar;
                        min-width: 187px;
                        // Espaciado externo
                        margin-left: 5px;
                        h2{
                            @include tamWidthMinimosMaximos(187px, 200px);
                            padding-left: 0px;
                        }
                    }
                    .card_novedades_boton{
                        width: auto;
                        a{
                            margin-left: 0px;
                        }
                    }

                }

            }

        }

    }

    /* =========== Contenedor principal de filtro categorias y productos =========== */
    .contenedor_principal-filtroCategorias-listaProductos {
        @include contenedorDisplayGrid(grid, 320px, 600px, hidden);
        gap: $espacioGridBase;
        padding-left: 5px;
        padding-right: 5px;
        /* Indicar cuantas columnas tendra */
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        grid-template-areas:
            "titulo_categoria"
            "filtro_categorias"
            "contenedor_cards_productos";

        .titulo_categoria {
            width: auto;
            min-width: 300px;
            background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
            animation: animacion_titulo_categoria 8s alternate-reverse;
            margin-top: 0px;
            margin-left: 0px;

            h2 {
                width: 100%;
                color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
                font-size: 40px;
                text-align: center;
                margin-bottom: 20px;
                animation: animacionDesktop-titulo_categorias 0s linear both;
            }
        }
        @keyframes animacion_titulo_categoria {
            0% {
                transform: translate(100px);
                opacity: 0;
            }

            100% {
                transform: translate(0px);
                opacity: 1;
            }
        }

        .contenedor_filtroCategorias {
            @include sizes(auto, auto);
            min-width: 300px;
            margin-right: 0px;
            margin-left: 6px;
            padding-bottom: 10px;
            .list-group{
                min-width: auto;
                margin-right: 10px;
                
            }
        }


        .contenedor_listaProductos {
            width: auto;
            margin-right: 0px;
            @include tamWidthMinimosMaximos(310px , 590px);

            .card_producto {
                width: auto;
                min-width: 310px;
                margin-right: 0px;
                margin-left: 0px;
                padding:0px;
                background-color: map-get($map: $paleta-colores, $key: 'SegundoColorPrincipal');
                animation: none;
                
                .card_producto_imagen {
                    min-width: 300px;
                    height: 350px;
                    width: auto;

                    img {
                        width: 100%;
                        height: 350px;
                    }
                }

                /* contenedor de boton y texto del card */
                .card_producto-texto_boton {
                    width: auto;
                    min-width: 300px;

                    h2 {
                        width: auto;
                        margin-left: 5px;
                    }

                    a{
                        margin-left: 100px;
                    }
                }
            }
        }
    }

    /* =========== Footer =========== */
    .contenedor_footer {
        @include sizes(auto, auto);
        min-width: 320px;
        margin-top: 20px;
        /* Indicar cuantas columnas tendra */
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "footer_seccion1_logo"
            "footer_seccion2_contacto"
            "footer_cliente"
            "footer_seccion4_redes";
    }

    /* =========== Pagina descuentos ============ */
    .contenedor_principal-descuentos-fechas {
        @include contenedorDisplayGrid(grid, 310px, 600px, hidden);
        // Espaciado interno
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
        gap: $espacioGridBase;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "titulo_descuentos"
            "descuento_carousel"
            "contenedor_descuentos-secundario1"
            "contenedor_descuentos-secundario2"
            "card_img_descuento"
            "texto_descuentos"
            "contenedor_descuentos"
            "titulo_fechas"
            "contenedor_fechas";


        /* Contenedor del titulo principal de descuentos */

        .titulo_descuentos_fechas {
            @include contenedorGeneralDescuentos(block, titulo_descuentos, auto, 310px, 590px);

            h2 {
                width: 99%;
                font-size: 40px
            }
        }
        .contenedor_descuentos-carousel{
            @include contenedorGeneralDescuentos(none, descuentos_carousel, auto, 310px, 590px);
        }
        .contenedor_descuentos-secundario1{
            @include contenedorGeneralDescuentos(block, contenedor_descuentos-secundario1, auto, 310px, 590px);

        }
        .contenedor_descuentos-secundario2{
            @include contenedorGeneralDescuentos(block, contenedor_descuentos-secundario2, auto, 310px, 590px); 
        }

        /* contenedor y card de la seccion descuentos */
        .contenedor_cards_descuentos {
            width: auto;
            @include tamWidthMinimosMaximos(310px , 590px);

            .card_descuento {
                width: $width-estandar;
                min-width: 310px;
                margin-left: 0px;

                .cobertura_img_card {
                    width: $width-estandar;
                    min-width: 310px;
                }

                .texto_card_descuento {
                    width: $width-estandar;
                    min-width: 310px;
                    margin-right: 24px;

                    p {
                        margin-right: 34px;
                    }
                }
            }
        }

        .titulo_fechas {
            width: auto;
            min-width: 310px;

            h2 {
                font-size: 40px;
            }
        }

        .contenedor_cards_fechas {
            width: auto;
            min-width: 310px;

            .card_fecha {
                margin-left: 0px;
                height: auto;
                border-radius: 20px;
                min-width: 300px;
                padding-bottom: 10px;

                .card_fecha-icono{
                    padding-top: 5px;
                    @include sizes(90px, 60px);
                    // background-color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
                    
                    img{
                        // filter: invert(1);
                        @include sizes(90px, auto);
                    }
                }
                .card_fecha-texto{
                    @include sizes(calc(100% - 110px), auto);
                    min-height:  100px;
                    min-width:   180px;
                    margin-left: 0px;
                    padding-top: 20px;
                    
                    h3{
                        color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                        font-size: 20px;
                        font-weight: 100;
                
                    }
                }
            }
        }
    }

    /* =========== pagina Quienes somos =========== */
    .contenedor_principal_quienes-somos {
        @include contenedorDisplayGrid(grid, 310px, 600px, hidden);
        height: auto;
        // Espaciado interno
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        /* acomodar el grid */
        grid-template-areas:
            "texto_conocenos"
            "contenedor_servicios"
            "titulo_amigos"
            "contenedor_marcas";
        gap: $espacioGridBase;

        .conocenos_textos {
            justify-content: center;
            background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
            margin-left: 0px;
            font-size: 12px;
            width: auto;
            min-width: 310px;
            text-align: center;
        }

        .contenedor_servicios{
            grid-area: contenedor_servicios;
            @include sizes(auto, auto);
            min-width: 310px;
            margin-left: 0px;

            .titulo_servicios{
                height: auto;
                min-width: 310px;
                padding-top: 0px;

                h1{
                    font-size: 35px;
                }
            }

            .card_servicio{
                min-width: 310px;

                .card_servicio-img{
                    @include sizes(60px, auto);
                    padding-left: 0px;
                    margin-right: 8px;

                    img{
                        width: 60px;
                        
                    }
                }

                .card_servicio-texto{
                    width: calc(100% - 70px);
                    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }
        }

        .titulo_amigos {
            background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
            color: map-get($map: $paleta-colores, $key: 'colorBlanco');
            min-width: 310px;
            height: auto;
            padding-bottom: 0px;
            h2{
                font-size: 30px;
            }
        }

        .contenedor-marcas{
            height: auto;
            min-width: 310px;
            .card_instagram_marca{
                background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                margin-left:  0px;
                margin-right: 0px;
            }
        }

    }

    /* =========== pagina contactanos =========== */
    .contenedor_principal-contactanos {
        @include contenedorDisplayGrid(grid, 310px, 600px, hidden);
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        grid-template-columns: 1fr;
        /* Indicar cuantas filas tendra */
        grid-template-rows: auto auto auto;

        /* acomodar el grid */
        grid-template-areas:
            "titulo_contactanos "
            "contenedor_info_empresa "
            "contenedor_formulario";

        .titulo_contactanos {
            width: auto;
            min-width: 310px;

            h2 {
                width: $width-estandar;
                font-size: 45px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .contenedor_datos_empresa {
            width: auto;
            min-width: 310px;
            justify-content: center;

            .item{
                justify-content: center;
            }

            .iconos_contacto{
                justify-content: start;
            }

        }

        /* Contenedor principal formulario */
        .contenedor_formulario {
            width: auto;
            min-width: 310px;

            form {
                display: flex;
                flex-wrap: wrap;
                width: $width-estandar;
                min-width: 310px;
            }

            button {
                margin-left: 3px;
            }
        }

    }

}
/* =========== Smartphone pagina carrito =========== */
@media screen and (max-width: 590px) and (min-width: 320px) {

    .carrito-contenedor_principal {
        @include contenedorDisplayGrid(grid, 310px, 600px, hidden);
        height: auto;
        grid-template-columns: 1fr;
        gap: $espacioGridBase;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "texto_carrito"
            "contenedor_productos"
            "contenedor_precio_total";

        .carrito-texto_principal {
            grid-area: texto_carrito;
            height: 70px;

            text-align: center;
            margin-top: 1px;
            
            h1 {
                font-size: 40px;
                font-style: oblique;
                font-weight: $letrasNegrillas;
            }
        }

        .carrito-contenedor_productos {
            grid-area: contenedor_productos;
            min-width: 320px;
            padding-left: 5px;
            padding-right: 5px;

            .card_producto {
                @include contenedorDisplayGrid(grid, 310px, 100%, hidden);
                gap: $espacioGridBase;
                min-height: 350px;
                margin-left: 0px;
                margin-top: 10px;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
        
                /* acomodar el grid */
                grid-template-areas:
                    "contenedor_imagen_producto"
                    "contenedor_texto_productos";

                
                .carrito_imagen_producto {
                    grid-area: contenedor_imagen_producto;
                    width: $width-estandar;
                    min-width: 300px;
                    min-height: 350px;
                    background-color: map-get($map: $paleta-colores, $key: 'colorSecundario');
                    
                    img {
                        @include sizes(100%, 100%);
                        min-width: 300px;
                    }
                }
        
                .texto-producto {
                    grid-area: contenedor_texto_productos;
                    width: $width-estandar;
                    min-width: 310px;
                    margin-top: 0px;

                    .cantidad_producto{
                        .eliminar_producto {
                            margin-left: 0px;
                            color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                            cursor: pointer;
                            border-radius: 5px;
                            text-decoration: none;
                    
                        }
                    }
                }
            }
        }


        /* contenedor principal del card pagar */
        .carrito-contenedor_precios {
            width: auto;
            margin-left: 0px;
            background-color: map-get($map: $paleta-colores, $key: 'colorBlanco');
            border: 1px solid map-get($map: $paleta-colores, $key: 'colorSecundario');
            border-radius: 5px;
            margin: 10px;

        }

    }

}


