/* ==================pagina productos-hombre-mujer (revisado)  ========== */

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}


/* boton checar(se usa en la página carrito igual) */
.btn_agregarProducto {
    color: map-get($map: $paleta-colores, $key: 'colorTextoPrincipal');
    text-decoration: none;
    text-align: $alineacionAlCentro;
    border-radius: 5px;
    font-weight: bold;
    padding: 0px 40px 0px 40px;
}



.contenedor_principal-filtroCategorias-listaProductos {
    display: grid;
    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    @include sizes($width-estandar, $height-estandar);
    gap: $espacioGridBase;
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(3, auto);
    /* Indicar cuantas filas tendra */
    grid-template-rows: auto auto;
    grid-template-areas:
        "titulo_categoria titulo_categoria titulo_categoria"
        "filtro_categorias contenedor_cards_productos contenedor_cards_productos";

    /* contenedores hijos */
    .titulo_categoria {
        grid-area: titulo_categoria;
        width: 500px;
        min-width: 320px;
        color: map-get($map: $paleta-colores, $key: 'colorBlanco');
        background-color: map-get($map: $paleta-colores, $key: 'colorBordeProducto');
        font-size: $fontMaxima;
        text-align: $alineacionAlCentro;
        margin-top: 6px;

        /* personalizacion del contenedor titulo_categoria */

        h2 {
            font-size: 70px;
            font-style: oblique;
            font-weight: $letrasNegrillas;
        }
    }

    .contenedor_filtroCategorias {
        grid-area: filtro_categorias;
        @include sizes(350px, 400px);
        position: -webkit-sticky;
        position: sticky;
        // Espaciado externo
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;

        border-radius: 15px;
        padding-left: 20px;
    }

    .contenedor_listaProductos {
        grid-area: contenedor_cards_productos;
        display: flex;
        flex-wrap: wrap;
        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: center;
        // Espaciado externo
        margin-right: 10px;
        margin-top: 10px;

        .card_producto {
            @include sizes(225px, auto);
            background-color: map-get($map: $paleta-colores, $key: 'colorBlanco');
            border: 2px solid map-get($map: $paleta-colores, $key: 'colorBordeProducto');
            border-radius: 10px;
            backdrop-filter: blur(12px);

            // espacio entre cards
            margin-top: 20px;
            margin-left: 15px;
            margin-bottom: 23px;

            // espaciado interno para imagen y texto de la card
            //top, right, lefth, bottom
            padding: 9px 9px 8px 8px;
            transition-delay: 1s;
            transition: width 3s;


            /* Auste de tamaño de la imagen de cada card */
            .card_producto_imagen {
                @include sizes(208px, 250px);
                overflow: hidden;

                img {
                    position: absolute;
                    @include sizes(208px, 250px);
                    object-fit: $acoplamiento-imagen;
                    padding-right: 2px;

                }

                img:hover {
                    transform: scale(1.07, 1.07);
                    cursor: pointer;
                }

                .contenedor-nuevo {
                    margin: 6px;
                    position: relative;
                    width: 50px;
                    height: 26px;
                    background-color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    color: map-get($map: $paleta-colores, $key: 'colorAzul');
                    text-align: $alineacionAlCentro;

                    // padding-bottom: 6px;
                    p {
                        font-size: 15px;
                        font-weight: $letrasNegrillas;
                    }
                }

                .contenedor-numDescuento {
                    margin: 6px;
                    position: relative;
                    width: 50px;
                    height: 26px;
                    background-color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                    color: map-get($map: $paleta-colores, $key: 'colorNumDescuento');
                    text-align: $alineacionAlCentro;

                    // padding-bottom: 6px;
                    p {
                        font-size: 15px;
                        font-weight: $letrasNegrillas;
                    }
                }
            }

            .card_producto-texto-boton {
                @include sizes(100%, auto);

                /* contenedor de boton y texto del card */
                .card_producto-texto {
                    @include sizes(100%, 46px);
                    margin-bottom: 5px;

                    h2 {
                        font-size: 17px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 15px;

                    }

                }

                .card_producto_boton {
                    @include sizes(100%, 28px);
                    text-align: $alineacionAlCentro;
                    background-color: map-get($map: $paleta-colores, $key: 'colorBordeProducto');

                    a {
                        @include sizes(200px, 28px);
                        @extend .btn_agregarProducto;
                        color: map-get($map: $paleta-colores, $key: 'colorBlanco');

                    }

                }

                .card_producto-texto_boton:hover .card_boton_comprar {
                    display: block;
                }
            }

        }

        .card_producto:hover {
            transform: scale(1.06);
        }

    }

    /* Ocultar el scrollbar de la  lista productos*/
    .contenedor_listaProductos::-webkit-scrollbar {
        display: none;
    }
}