/* ================= Pagina Quienes somos ==================*/

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}


.contenedor_principal_quienes-somos {
    @include sizes($width-estandar, $height-estandar);
    display: grid;
    gap: 10px;
    margin-top: 10px;
    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(4, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: auto auto 100px auto;

    /* acomodar el grid */
    grid-template-areas:
        "texto_conocenos     texto_conocenos     contenedor_servicios contenedor_servicios"
        "texto_conocenos     texto_conocenos     contenedor_servicios contenedor_servicios"
        "titulo_amigos       titulo_amigos       titulo_amigos        titulo_amigos "
        "contenedor_marcas   contenedor_marcas   contenedor_marcas    contenedor_marcas";

    // .contenedor_titulo_quienesSomos {
    //     grid-area: titulo_QuienesSomos;
    //     background-color: map-get($map: $paleta-colores, $key: 'colorTextoPrincipal');
    //     color: map-get($map: $paleta-colores, $key: 'colorSecundario');
    //     text-align: center;
    // }

    /* Contenedor de titulo y parrafo de la empresa */
    .conocenos_textos {
        @include sizes( 800px, auto);
        box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
                    -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
        grid-area: texto_conocenos;
        margin-left: 10px;
        font-size: 20px;
        background-color: azure;
    }


    .contenedor_servicios {
        grid-area: contenedor_servicios;
        @include sizes( 500px, auto);
        /* background-color: blue; */
        margin-left: 30px;
        .titulo_servicios{
            width: 100%;
            height: 80px;
            text-align: center;
            background-color: red;
            color: white;
            padding-top: 10px;
            margin-bottom: 5px;
        }
        .card_servicio{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;

            margin-bottom: 5px;
            .card_servicio-img{
                // border-radius: 45px;
                width: 90px;
                height: auto;
                background-color: red;
                 
                padding-left: 12px;
               
                img{
                    width: 60px;
                    height: 60px;   
                    filter: invert(0.88);
                }
            }
            .card_servicio-texto{
                background-color: white;
                width: calc(100% - 90px);
                height: auto;
                padding-left: 6px;
                h1{
                    font-size: 23px;
                    
                }
            }
        }
        .card_servicio:hover{
            transform: scale(1.1);
        }

    }


    .titulo_amigos {
        grid-area: titulo_amigos;
        color: map-get($map: $paleta-colores, $key: 'colorTextoTitulosAzul');
        text-align: center;
        padding-bottom: 120px;

        h2 {
            font-size: 90px;
            font-family: cursive;

        }
    }

    @keyframes titulo_amigoMes {
        0% {
            transform: skewX(20deg);
        }
    
        100% {
            transform: skewX(-20deg);
        }
    }

    /* Contenedor de cards de marcas */
    .contenedor-marcas {
        grid-area: contenedor_marcas;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card_instagram_marca {
            margin-left: 10px;
            margin-right: 20px;
            margin-bottom: 22px;
            margin-top: 13px;
            iframe{
                width: 300px; 
                height: 420;
            }

        }

        .card_instagram_marca:hover {
            transform: scale(1.05);
        }

    }

}




