/* ================= Pagina Quienes somos (revisada)==================*/


.contenedor_principal_quienes-somos {
    display: grid;
    @include sizes($width-estandar, $height-estandar);
    gap: $espacioGridBase;
    margin-top: 2px;
    background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
    /* Indicar cuantas columnas tendra */
    grid-template-columns: repeat(4, 1fr);
    /* Indicar cuantas filas tendra */
    grid-template-rows: auto auto 100px auto;

    /* acomodar el grid */
    grid-template-areas:
        "texto_conocenos     texto_conocenos     contenedor_servicios contenedor_servicios"
        "texto_conocenos     texto_conocenos     contenedor_servicios contenedor_servicios"
        "titulo_amigos       titulo_amigos       titulo_amigos        titulo_amigos "
        "contenedor_marcas   contenedor_marcas   contenedor_marcas    contenedor_marcas";

    /* Contenedor de titulo y parrafo de la empresa */
    .conocenos_textos {
        grid-area: texto_conocenos;
        @include sizes(800px, auto);
        background-color: map-get($map: $paleta-colores, $key: 'colorPrincipal');
        box-shadow: 10px 10px 10px -1px map-get($map: $paleta_colores-BoxText_Shadow, $key: 'colorBoxShadow1'),
            -10px -10px 10px -1px map-get($map: $paleta_colores-BoxText_Shadow, $key: 'colorBoxShadow2');

        font-size: 20px;
        margin-left: 10px;
        color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');

    }


    .contenedor_servicios {
        grid-area: contenedor_servicios;
        @include sizes(500px, auto);
        margin-left: 30px;
        //Animacion del contenedor
        -webkit-animation: bounce-in-right 1s both;
        animation: bounce-in-right 3s both;

        .titulo_servicios {
            @include sizes(100%, 80px);
            text-align: $alineacionAlCentro;
            background-color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
            color: map-get($map: $paleta-colores, $key: 'colorBlanco');
            // espaciado  interno
            padding-top: 10px;
            // Espaciado externo
            margin-bottom: 5px;
        }

        .card_servicio {
            display: flex;
            flex-wrap: wrap;
            @include sizes(100%, auto);
            margin-bottom: 5px;


            .card_servicio-img {
                @include sizes(90px, auto);
                background-color: map-get($map: $paleta-colores, $key: 'colorPrincipalSidebar');
                // Espaciado interno 
                padding-left: 12px;

                img {
                    @include sizes(60px, 60px);
                    filter: invert(0.88);
                }
            }

            .card_servicio-texto {
                @include sizes(calc(100% - 90px), auto);
                background-color: map-get($map: $paleta-colores, $key: 'colorBlanco');
                padding-left: 6px;

                h1 {
                    font-size: 23px;

                }
            }
        }
        .card_servicio:hover {
            transform: scale(1.1);
        }

        @keyframes bounce-in-right {
            0% {
              -webkit-transform: translateX(600px);
                      transform: translateX(600px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
              opacity: 0;
            }
            38% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
              opacity: 1;
            }
            55% {
              -webkit-transform: translateX(68px);
                      transform: translateX(68px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            72% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            81% {
              -webkit-transform: translateX(32px);
                      transform: translateX(32px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            90% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
            95% {
              -webkit-transform: translateX(8px);
                      transform: translateX(8px);
              -webkit-animation-timing-function: ease-in;
                      animation-timing-function: ease-in;
            }
            100% {
              -webkit-transform: translateX(0);
                      transform: translateX(0);
              -webkit-animation-timing-function: ease-out;
                      animation-timing-function: ease-out;
            }
        }
          
    }


    .titulo_amigos {
        grid-area: titulo_amigos;
        color: map-get($map: $paleta-colores, $key: 'colorSecundario');
        text-align: $alineacionAlCentro;
        padding-bottom: 120px;

        h2 {
            font-size: 90px;
            font-family: cursive;
            animation: animacion-titulo_amigos 4.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        }
        @keyframes animacion-titulo_amigos {
            0% {
              letter-spacing: 1em;
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
          
    }

    /* Contenedor de cards de marcas */
    .contenedor-marcas {
        grid-area: contenedor_marcas;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .card_instagram_marca {
            margin-left: 10px;
            margin-right: 20px;
            margin-bottom: 22px;
            margin-top: 13px;
        }

        .card_instagram_marca:hover {
            transform: scale(1.05);
        }

    }

}