
// Variables
$acoplamiento-imagen: cover;
$width-estandar: 100%;
$height-estandar: 100%;
$fontMaxima: 100%;
$espacioGridBase: 10px;

//Mapa 

$paleta-colores: (
    'colorPrincipal': #ebf5fc,
    'colorSecundario': red,
    'segundoColorPrincipal':#ecf7ff,
    'colorTerciario':#ecf0f3,
    'colorBotonAgregar': #ebeef1,
    'colorFondoBlanco': white,
    'colorTextoPrincipal': white,
    'colorTextoTitulosAzul': #0095ff,
    'colorTextoSecundario': red,
    'colorFondoAzul': blue,
    'fondoTransparente': tranparent

);

